 
@media (min-width: 992px) {
	.navbar nav {
		list-style: none;
		width: 100%;
		flex-wrap: wrap;
	}
	.navbar .collapse {
		display: block;
	}
	.navbar nav li {
		display: inline-block;
	}
	.navbar nav li.readtotoal {
		float: right;
	}
	.toturial .navbar-collapse {
		display: block !important;
	}
	.col-2-5 { 
		max-width: 20%;
		flex: 0 0 0 20%;
		padding: 0 5px;
		position: relative;
		width: 100%;
	}
	
	.menu-home ul li ul ,
	.menu ul li ul {
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
		z-index: 100;
		min-width: 100%;
		min-height: 100%;
		background: #FCFCFC;
	}
	.menu-home ul li:hover > ul ,
	.menu ul li:hover > ul {
		display: block;
	}
	.menu-home .card-body ,
	.menu .card-body {
		position: relative;
		background: #FCFCFC;
	}
	li.has-child > a {
		position: relative;
	}
	li.has-child > a:after {
		content: "";
		position: absolute;
		top: calc(50% - 8px);
		right: 5px;
		height: 16px;
		width: 10px;
		background: url(../images/narrow.png) no-repeat 0 0 transparent;
	}
	.menu .card-body {
		display: none;
		position: absolute;
		min-width: 250px;
		width: 100%;
	}
	
	.modal-dialog {
		max-width: 900px;
		margin: 1.75rem auto;
	}

	.personal-info .card .image { 
		height: 156px;
	}
	.card .image {
		height: 175px;
	}

}
@media (max-width: 1200px) {
	
	.send-mail-form input.form-control {
		width: 250px;
	}
	
	.personal-info .card .image { 
		height: 130px;
	} 
	
	
}
@media (max-width: 1024px) {
	.personal-info .card .image { 
		height: 156px;
	}
	.card .image {
		height: 219px;
	}
}
@media (max-width: 992px) {
	.navbar nav li {
		display: block;
	} 
	.nav-link {
		padding: .5rem .5rem;	
			
	}
	span.noti-count {
		right: 3px;
	}
	
	.nav-link {
		display: block;
		padding: .5rem 1rem;
	}
	.article-header h3.title {
		float: left;
		margin-top: 7px;
	}
	.article-header button.navbar-toggler {
		float: right;
		color: #fff;
	}
	.category-menu {
		min-height: 0;
		padding: 0;
	}
	.category-title {
		overflow: hidden;
		vertical-align: middle;
		padding: 5px !important;
		margin-bottom: -1px;
	}
	.navbar nav .nav-item{
		margin: 0 !important;
	}
	.navbar nav .nav-item a {
		padding: 7px 10px;
		margin: 0;
		border-bottom: 1px solid #ddd;
	}
	.send-mail-form input.form-control {
		width: 160px;
		margin-left: 0;
	}
	.toturial-title {
		padding: 2px 5px;
		background: #FFF5D7;
	}
	.toturial .navbar-collapse {
		align-items: start; 
	} 
	.toturial .navbar-collapse li a {
		padding: 7px 10px;
		margin: 0;
		border-bottom: 1px solid #ddd;
		display: block;
	}
	.navbar-toggler-icon:after {
		content: 'prev';
		font-family: swiper-icons;
		line-height: 1.9rem;
	}
	.navbar-toggler-icon {
		transform: rotate(-90deg);
		text-align: center;
		transition-duration: 200ms;
	}
	button.navbar-toggler:focus {
		outline: 0;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
		transform: rotate(90deg);
	}
	 
	.navigation {
		position: fixed;
		bottom: 0;
		width: 100%;
		box-shadow: 0px 0px 5px 3px #dfdfdf;
		z-index: 100;

	}
	.navigation a {
		width: calc(100% / 4);
		padding: 5px 0;
		position: relative;
	}
	.footer {
		padding-bottom: 80px !important;
	}
	.menu-item span {
		display: block;
		margin-top: 5px;
	}
	.menu-item span.count {
		position: absolute;
		top: 0;
		left: 50%;
		color: #fff;
		background: #FF6442;
		padding: 0 5px;
		border-radius: 10px;
		font-size: 9px;
	}
	.memu-noti li { 
		margin: 0 5px;
	}
	.card .image {
		height: 160px;
	}
	.personal-info .card .image { 
		height: 125px;
	}
}


@media (max-width: 768px) {
	 
	.memu-noti li {
		margin: 0 5px;
	}
	.send-mail-form input.form-control {
		width: 150px;
	}
	span.model-name {
		min-width: auto;
		float: left;
	}
	span.model {
		float: right;
	}
	span.model-name:after {
		display: none;
	}
	.personal-info .card .image {
		height: 140px;
	}

}
@media (max-width: 640px) {
	.card .image {
		height: 175px;
	}
	
}
@media (max-width: 576px) {
	
	section.content {
		padding-top: 110px !important;
	} 
	 
	.action-noti {
		display: block;
		text-align: right;
		margin: 0;
	}
	.memu-noti li { 
		margin: 0;
	}
	
	.memu-noti li a {
		padding: 0 4px;
	}
	.send-mail-form input.form-control {
		width: 150px;
	}
	span.model {
		float: none;
		padding-left: 10px;
	}
	span.model-name {
		float: none;
	}
	.personal-info .card .image {
		height: 130px;
	}

}
@media (max-width: 413px) {
	.memu-noti li a {
		font-size: 0.75rem;
		padding: 1px ;
	}
	.nav-tabs {
		display: block;
	}
	.com-details .com-detail {
		font-size: 0.65rem;
	}
	.card .image,
	.personal-info .card .image{
		height: auto;
	}
	.category-panel .col-6 {
		flex: 100% !important;
		max-width: 100% ;
	}
}