
<article>
    <div class = "article-banner d-flex ads-container mx-3 mt-3">
        <div class = "swiper-wrapper">
            <div class = "swiper-slide">
                <a href = "#"><img  src = "./images/article-banner1.jpg" /></a>
            </div>
            <div class = "swiper-slide">
                <a href = "#"><img  src = "./images/article-banner3.jpg" /></a>
            </div>
            <div class = "swiper-slide">
                <a href = "#"><img  src = "./images/article-banner2.jpg" /></a>
            </div>
        </div>
    </div>
</article>