<!-- Dịch vụ tuong tu -->
<article>
    <div class = "article-header d-block d-lg-flex my-2">
        <div class = "category-title text-uppercase col-12 col-lg-3 col-sm-12 pr-0  align-items-center d-block d-lg-flex">
            <h3 class = "title"  >Dịch vụ tương tự</h3>
            <button class="navbar-toggler bg-black d-lg-none d-flex"  type="button" data-toggle="collapse" data-target="#navbarNav-sptt" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class = "navbar navbar-expand-lg category-menu sm-menu col-12 col-lg-9 col-sm-12 d-block d-lg-flex  align-items-center">
            
            <nav class="collapse " id="navbarNav-sptt">
                <li class="nav-item ml-3 last readtotoal"><a class="nav-link " href="#">Xem tất cả</a></li>
            </nav>
        </div>
    </div> 
    
    <div class = "article-banner d-flex ads-container mx-3">
        <div class = "swiper-wrapper">
            <div class = "swiper-slide">
                <img  src = "./images/article-banner1.jpg" />
            </div>
            <div class = "swiper-slide">
                <img  src = "./images/article-banner3.jpg" />
            </div>
            <div class = "swiper-slide">
                <img  src = "./images/article-banner2.jpg" />
            </div>
        </div>
    </div>
    
    <div class ="article-content p-2 mt-2 products-container swiper-container bg-white">
        <div class = "swiper-wrapper">
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod2.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod3.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod4.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod5.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod6.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod7.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod8.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod9.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod1.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#">
                        <div class = "image"><img class="card-img-top" src = "data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod10.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            
            
        </div>
    </div>

</article>
