	
	<!-- footer -->
	<section class = "footer pb-4 mt-3">
		<div class = "send-letter">
			<div class = "d-block d-md-flex container p-0 align-items-center pt-4 pb-4">
				<div class = "col-lg-3 d-none d-lg-block">
					<img  src = "./images/send-letter.png" alt = "send email"/>

				</div>
				<div class = "col-12 col-lg-3 col-md-6 col-sm-12 pl-xs-0 pl-3 text-center text-md-left mb-2 mb-md-0">
					<h4>Đăng ký nhận bản tin</h4>
					<p class = "m-0">Chúng tôi không chia sẻ email của bạn cho bất kỳ bên thứ ba nào.</p>
				</div>
				<div class = "col-12 col-lg-6 col-md-6 col-sm-12 justify-content-md-end justify-content-center d-flex">
					<form class = "send-mail-form form-inline" action = "#">
						<div class="form-group mx-1 mx-sm-4 my-0">
							<input type="email" class="form-control" id="inputPassword2" placeholder="Nhập địa chỉ email của bạn">
						</div>
						<button type="submit" class="btn btn px-4 py-2">Đăng ký</button>
					</form>
				</div>
			</div>
		</div>
		
		
		 
		<div class = " container p-0">
			<div class = "d-block d-lg-flex py-3 py-lg-5">
				<div class = "col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
					<div class = "toturial-title d-flex d-lg-block justify-content-between align-items-center">
						<h4 class = "d-block d-sm-flex justify-content-start text-uppercase">HƯỚNG DẪN NGƯỜI MUA</h4>
						<button class="navbar-toggler d-lg-none d-flex justify-content-end "  type="button" data-toggle="collapse" data-target="#navbarNav-hdnm" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class = "navbar navbar-expand-lg d-block d-lg-flex  align-items-left align-items-lg-center px-0">
						<ul class = "collapse   list-unstyled"   id="navbarNav-hdnm" >
							<li><a href = "#">Hướng Dẫn Tìm Mua, Thuê Thiết Bị</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Cần Mua Phụ Tùng</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Cần Mua Vật Tư</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Cần Thuê Thiết Bị</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Cần Thuê Dịch Vụ</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Tuyển Dụng</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Tìm Việc Làm</a></li>
							<li><a href = "#">Hướng Dẫn Chia Sẻ Kiến Thức Với Cộng Đồng</a></li>
							<li><a href = "#">Trung Tâm Hỗ Trợ Người Dùng</a></li>
						
						</ul>
					</div>
				</div> 
				<div class = "col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
					<div class = "toturial-title d-flex d-lg-block justify-content-between align-items-center">
						<h4 class = "d-block d-sm-flex justify-content-start text-uppercase">HƯỚNG DẪN NGƯỜI BÁN</h4>
						<button class="navbar-toggler d-lg-none d-flex justify-content-end "  type="button" data-toggle="collapse" data-target="#navbarNav-hdnb" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class = "navbar navbar-expand-lg col-sm-12 d-block d-lg-flex  align-items-left align-items-lg-center px-0">
						<ul class = "collapse   list-unstyled"   id="navbarNav-hdnb" > 
							<li><a href = "#">Hướng Dẫn Mở Gian Hàng Kinh Doanh</a></li>
							<li><a href = "#">Hướng Dẫn Nâng Cấp Gian Hàng</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Bán Thiết Bị</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Bán Phụ Tùng</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Bán Vật Tư</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Cho Thuê Thiết Bị</a></li>
							<li><a href = "#">Hướng Dẫn Đăng Tin Cung Cấp Dịch Vụ</a></li>
							<li><a href = "#">Hướng Dẫn Chia Sẻ Kiến Thức Với Cộng Đồng</a></li>
							<li><a href = "#">Trung Tâm Hỗ Trợ Người Bán</a></li>
						
						</ul>
					</div>
				</div>
				<div class = "col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
					<div class = "toturial-title d-flex d-lg-block justify-content-between align-items-center">
						<h4 class = "d-block d-sm-flex justify-content-start text-uppercase">DÀNH CHO NGƯỜI BÁN</h4>
						<button class="navbar-toggler d-lg-none d-flex justify-content-end "  type="button" data-toggle="collapse" data-target="#navbarNav-dcnb" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class = "navbar navbar-expand-lg d-block d-lg-flex  align-items-left align-items-lg-center px-0">
						<ul class = "collapse   list-unstyled"   id="navbarNav-dcnb" >
							<li><a href = "#">Giới Thiệu</a></li>
							<li><a href = "#">Quy Chế Hoạt Động</a></li>
							<li><a href = "#">Chính Sách Bảo Mật</a></li>
							<li><a href = "#">Điều Khoản Và Điều Kiện Sử Dụng</a></li>
							<li><a href = "#">Giải Quyết Tranh Chấp, Khiếu Nại</a></li>
							<li><a href = "#">Hợp Tác Cùng Hanoma</a></li>
						
						</ul>
					</div>
				</div>
				<div class = "col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
					<div class = "toturial-title d-flex d-lg-block justify-content-between align-items-center">
						<h4 class = "d-block d-sm-flex justify-content-start text-uppercase">DÀNH CHO NGƯỜI BÁN</h4>
						<button class="navbar-toggler d-lg-none d-flex justify-content-end "  type="button" data-toggle="collapse" data-target="#navbarNav-dcnb1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class = "navbar navbar-expand-lg d-block d-lg-flex  align-items-left align-items-lg-center px-0">
						<ul class = "collapse   list-unstyled"   id="navbarNav-dcnb1" >
							<li><a href = "#">Dịch Vụ Bán Hộ</a></li>
							<li><a href = "#">Dịch Vụ Mua Hộ</a></li>
							<li><a href = "#">Dịch Vụ Vận Chuyển</a></li>
							<li><a href = "#">Dịch Vụ Thanh Toán</a></li>
							<li><a href = "#">Dịch Vụ Cho Thuê Tài CHính</a></li>
							<li><a href = "#">Dịch Vụ Nhập Khẩu Uỷ Thác</a></li>
							<li><a href = "#">Giao Dịch Đảm Bảo Qua Hanoma</a></li>
						
						</ul>
					</div>
				</div>
			</div>
			<div class = "d-flex ">
				<div class = "copyright col-12">
					<div class = "d-block d-md-flex align-items-center mb-1 text-center text-md-left mb-sm-0">
						<a href = "#" class = "d-inline-block mr-2 mb-2 mb-md-0">
							<img  src = "./images/logo2.png" alt = "logo"/>
						</a>
						<h4 class = "d-inline-block ">Nền Tảng Kinh Doanh Máy Móc Thiết Bị Và Phương Tiện Vận Tải Số 1 Việt Nam</h4>
					</div>
					<h5 class = "mt-2 mt-sm-1">Bản Quyền Thuộc Về Công Ty Cổ Phần ILOTT. Nghiêm Cấm Sao Chép Mà Không Có Sự Đồng Ý Bằng Văn Bản</h5>
					<h5 class = "mt-2 mt-sm-1">Giấy Phép Hoạt Động Mạng Xã Hội Số 58/GP-BTTTT Do Bộ Thông Tin & Truyền Thông Cấp Ngày 15/02/2019</h5>
				</div>
			</div> 
			<div class = " d-block d-lg-flex my-2 mt-lg-4 mb-lg-0 text-center text-lg-left align-items-center">
				<div class = "col-12  col-lg-5 col-md-12 col-sm-12">
					<h4>Mua Bán Dễ Dàng Hơn Trên Điện Thoại Thông Minh:</h4>
					<div class = "d-block d-lg-flex  my-2 mt-lg-4 mb-lg-0 "> 
						<a href = "#" class = "mr-4">
							<img  src = "./images/applestore.png" />
						</a>
						<a href = "#">
							<img  src = "./images/googlestore.png" />
						</a>
					</div>
				</div>
				<div class = "col-12 col-lg-4 col-md-12 col-sm-12">
					<h4>Theo Dõi Chúng Tôi Trên Mạng Xã Hội</h4>
					<div class = "d-block d-lg-flex  mt-4"> 
						<a href = "#" class = "mr-2">
							<img  src = "./images/telegram.png" />
						</a>
						<a href = "#" class = "mr-2">
							<img  src = "./images/youtube.png" />
						</a>
						<a href = "#" class = "mr-2">
							<img  src = "./images/facebook.png" />
						</a>
						<a href = "#" class = "mr-2">
							<img  src = "./images/twiter.png" />
						</a>
						<a href = "#">
							<img  src = "./images/google.png" />
						</a>
					</div>	
				</div>
				<div class = "col-12 col-lg-3 col-md-12 col-sm-12 d-block d-lg-flex align-items-lg-end align-items-center text-center">
					 
						<img  src = "./images/certificate.png" />
					 
				</div> 
			</div>
		</div>
	
	</section>
	<!-- menu mobile -->
	<section> 
		<div class = "navigation d-block d-lg-none">
			<div class = "d-flex align-items-center text-center list-unstyled mb-0 bg-white">
				<a href = "./index.html" class = "menu-item home"><img src = "./images/home.png"/><span> Trang chủ</span></a>  
				<a href = "./tintuc.html" class = "menu-item news"><img src = "./images/news.png"/><span>Tin Tức</span></a>  
				<a href = "./taikhoan.html#taikhoanthongbao" class = "menu-item noti"><img src = "./images/bell.png"/><span class = "count">12</span><span>Thông báo</span></a>  
				<a href = "./taikhoan.html" class = "menu-item account"><img src = "./images/profile.png"/><span>Tài khoản</span></a>  
			</div>			
		
		</div>
	</section>
  
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="./js/jquery-3.3.1.min.js"></script>
	<script src="./js/bootstrap.min.js" ></script>
	<script src="./js/swiper-bundle.min.js"></script>
	<script src="./js/jquery.lazy.min.js"></script>
	<script src="./js/navScript.js"></script>
	<script src="./js/mmenu.js"></script>
	<script src="./js/custom.js"></script>
	 
	
  </body>
</html>