
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./css/bootstrap.min.css"  >
	<link rel="stylesheet" href="./css/style.css" >
	<link rel="stylesheet" href="./css/responsive.css" >
	
	<title>Hanoma Home page.</title>
	
</head>
<body id = "body">
	 
	<!-- Header -->
	<section class = "header navbar-expand-sm">
		<div class = "  container p-0">
			<div class = "d-block d-sm-flex align-items-center pt-2 pb-1  pt-sm-1 pb-sm-1">
				<div class = "col-2 col-sm-1 d-inline-block d-lg-none pr-0 pt-2 pt-sm-0 ">
					<a href = "#my-menu" class = "mburger">
						<span></span>
					</a>
				</div>
				<div class = "col-9 col-lg-2 col-md-3 col-sm-3 pr-0 text-center pl-2 pl-sm-2  d-inline-block align-top">
					<a href = "./index.html">
						<img  src = "./images/logo.png" alt = "logo"/>
					</a>
				</div>
				<div class = "col-12 col-lg-5 col-md-8 col-sm-8 pr-lg-2 px-3 my-sm-0 my-2">
					<form class = "search-form" action = "#">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" aria-label="Search" placeholder = "Tìm kiếm" >
							<div class="input-group-append">
								<select name = "category">
									<option value = "XX">Máy để bán</option>
									<option value = "XX">Máy để bán 1</option>
									<option value = "XX">Máy để bán 222</option>
									<option value = "XX">Máy để bán 444</option>
								</select>
							</div>
							<div class="d-none">
								<button class="input-group-text">Search</button>
							</div>
							
						</div>
						<div class = "result bg-white p-2" style = "display: none">
							<h6 class = "text-uppercase">Truy cập nhanh</h6>
							<ul>
								<li><a href = "#">Kết quả search </a></li>
								<li><a href = "#">Kết quả search 1</a></li>
								<li><a href = "#">Kết quả search 3</a></li>
								<li><a href = "#">Kết quả search 5</a></li>
							</ul>	
						
						</div>
					</form>
				</div>
				<div class = "col-lg-2 col-md-4 d-none d-lg-block px-0">
					<nav class="nav">
						<li class="nav-item">
							<a class="nav-link active" href="#">Trang chủ</a>
						</li>
						<li class="nav-item ml-2">
							<a class="nav-link" href="./tintuc.html">Tin Tức</a>
						</li>
					</nav>
				</div>
				<div class = "col-12 col-lg-3 col-md-3 col-sm-3 pl-0 d-none d-lg-block ">
					<nav class="nav justify-content-sm-end justify-content-center d-flex">
						<li class="nav-item">
							<a class="nav-link " href="#">Đăng nhập</a>
						</li>
						<li class="nav-item ml-3 ml-sm-1">
							<a class="nav-link" href="./taikhoan.html">Đăng ký</a>
						</li>
						<li class="nav-item ml-3  ml-sm-1">
							<a class="nav-link" href="#"><img  src = "./images/f-vn.png"/></a>
						</li>
					</nav>
				</div>
			</div>
		</div>
	
	</section>