
<!-- Khuyễn mãi trong ngày -->
<article> 
    <div class = "article-header d-block d-lg-flex my-2">
        <div class = "category-title text-uppercase col-12 col-lg-3 col-sm-12 pr-0  align-items-center d-block d-lg-flex">
            <h3 class = "title"  >Khuyến mãi trong ngày</h3>
        </div>
        <div class = "navbar navbar-expand-lg category-menu col-12 col-lg-9 col-sm-12 d-block d-lg-flex  align-items-center">
            
            <nav class="collapse " id="navbarNav">
                 
            </nav>	
            
        </div>
    
    </div>
    
    <div class ="article-content p-2  products-container-layout1 swiper-container bg-white">
        <div class = "swiper-wrapper">
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#"> 
                        <div class = "percent">30%</div>
                        <div class = "image"><img class="card-img-top" src="./images/prod4.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>	 
                            <h4 class = "price">911.500.000 <span class = "curency">đ</span></h4>
                            <h6 class = "original-price">911.500.000 <span class = "curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#"> 
                        <div class = "percent">30%</div>
                        <div class = "image"><img class="card-img-top" src="./images/prod5.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>	 
                            <h4 class = "price">911.500.000 <span class = "curency">đ</span></h4>
                            <h6 class = "original-price">911.500.000 <span class = "curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#"> 
                        <div class = "percent">30%</div>
                        <div class = "image"><img class="card-img-top" src="./images/prod6.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>	 
                            <h4 class = "price">911.500.000 <span class = "curency">đ</span></h4>
                            <h6 class = "original-price">911.500.000 <span class = "curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#"> 
                        <div class = "percent">30%</div>
                        <div class = "image"><img class="card-img-top" src="./images/prod7.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>	 
                            <h4 class = "price">911.500.000 <span class = "curency">đ</span></h4>
                            <h6 class = "original-price">911.500.000 <span class = "curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class = "card">
                    <a href = "#"> 
                        <div class = "percent">30%</div>
                        <div class = "image"><img class="card-img-top" src="./images/prod9.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class = "d-flex justify-content-between mt-1">
                                <span class = "d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class = "d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>	 
                            <h4 class = "price">911.500.000 <span class = "curency">đ</span></h4>
                            <h6 class = "original-price">911.500.000 <span class = "curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>

</article>